.header-app {
  --nav-link-space-x: 14px;
  --motion: 0.2scubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: var(--header-position);
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--header-height);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 165px);
  margin-left: auto;
}

.dropdown-menu.show {
  width: 90vw;
  max-width: 617px;
  padding: 36px;
  background-color: #f5f7f9;
}
/* Mega-menu için genel stil */
.custom-dropdown .dropdown-menu {
  min-width: 600px;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Grid yapısı için düzenlemeler */
.mega-menu-content {
  display: flex;
  flex-direction: column; /* Satırları dikey hizala */
  gap: 30px; /* Satırlar arasındaki boşluk */
}

/* .mega-menu-title {
  display: block;
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 600 !important;
} */
/* Grid içindeki öğeleri yerleştirme */
.mega-menu-grid {
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* Her bir öğe için düzen */
.mega-menu-item {
  /* padding: 10px;
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease; */
  position: relative;
  padding: 20px 12px;
  background-color: #fff;
  border-radius: var(--border-radius-01);
  -webkit-box-shadow: var(--box-shadow-05);
  box-shadow: var(--box-shadow-05);
  border-radius: 10px;
}

/* Başlık stilini belirle */
.mega-menu-item h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Iconların boyutu */
.mega-menu-item img {
  margin-bottom: 10px;
}
.mega-menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 10px;
  max-height: 60px;
  object-fit: contain;
}
.nav-item-with-icon .icon {
  display: none; /* Başlangıçta ikon gizli */
}

.nav-item-with-icon:hover .icon {
  display: inline-block; /* Hover durumunda ikonu göster */
}
.nav-item-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-left: auto; /* İkonu sağa yaslar */
}
