.App {
  background: #f5f7f9;
}
.list-branch-list {
  padding: 145px;
  text-align: center;
}
.branch-list__title {
  font-size: 54px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.branch-list__subTitle {
  margin-bottom: 25px;
}
.branch-list__boxItem card {
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05); /* Kart hafifçe büyüsün */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

.card:hover .card-body span {
  color: #007aff;
}
.scale3d {
  transform: scale3d(var(--scale-x), var(--scale-y), 1) !important;
}
.container .branch-list__boxItem img {
  transform: scale3d(var(--scale-x), var(--scale-y), 1);
}

.landing-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.landing-cover__mockUpContent {
  position: relative;
  width: 260px;
  height: 528px;
}

.landing-cover__mockUpImage {
  width: 100%;
  height: auto;
}

.landing-cover__imageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.landing-cover__imageAnimate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
.landing-cover__box {
  /* display: flex;
  height: 120vh;
  min-height: 900px;
  flex-direction: column; */
}

.landing-cover__boxItem {
  display: flex;
  height: 120vh;
  min-height: 900px;
  flex-direction: column;
}

.landing-cover__boxItemMobileImage img {
  width: 100%;
  height: auto;
}

.landing-cover__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 34px;
}

.landing-cover__detail {
  font-size: 16px;
  color: #555;
  line-height: 24px;
}

.landing-cover__button {
  display: inline-block;
  align-items: center;
  margin-top: 12px;
  color: #0089ec;
  font-weight: 600 !important;
}

.landing-cover__button svg {
  margin-left: 5px;
}
.landing-cover__boxItem {
  margin-top: 400px; /* İlk kutuların üst kısmına boşluk ekliyoruz */
  /* Diğer stil eklemeleri */
}
.landing-cover__phoneWrapper {
  position: sticky; /* Telefonu sabit yapacak */
  top: 0;
  z-index: 10;
}
.home-page__landingTabs {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.landing-tabs__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#landing-tabs .nav-link {
  color: #007bff;
  font-weight: bold;
}

#landing-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.carousel {
  margin-top: 20px;
}

.carousel-item {
  text-align: center;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}
.discount-carousel {
  max-width: 800px;
  margin: 0 auto;
}
.carousel {
  max-width: 800px; /* Carousel genişliği */
  margin: 0 auto; /* Ortalamak için */
}
.carousel img {
  width: 100%;
  height: 400px; /* Sabit yükseklik */
  object-fit: cover; /* Görsellerin orantılı kırpılması */
  border-radius: 10px; /* Köşeleri yuvarlat */
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 5%; /* Ok düğmelerini küçült */
}

.carousel .carousel-indicators {
  bottom: -30px; /* Noktaları biraz aşağı kaydır */
}

.carousel .carousel-indicators .active {
  background-color: #007bff; /* Aktif noktayı mavi yap */
}

.comment-list__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #343a40;
}

.comment-list__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comment-list__card {
  margin-bottom: 30px;
}

.comment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-card__interpretation {
  font-size: 16px;
  color: #6c757d;
  line-height: 1.6;
}

.comment-card__interpretation .font-weight-bold {
  font-weight: bold;
  color: #007bff;
}

.comment-card__customer {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
  color: #343a40;
}
.home-page__awardList {
  padding: 40px 0;
  background-color: #f8f9fa; /* Color-bg-03'ü buraya uygulayabilirsiniz */
}

.award-carousel__detailTitle {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}

.award-carousel__button {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.award-carousel__image img {
  width: auto;
  height: 238px;
  margin-right: 10px;
}
.home-page__contractedCompanyCardList {
  padding: 40px 0;
}

.contracted-company-card-list__title {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 30px;
}

.contracted-company-card-list__col {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contracted-company-card-list__link {
  display: block;
  text-align: center;
}

.contracted-company-card-list__img {
  width: 106px;
  height: 50px;
  object-fit: contain;
}
.accordion-button:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}

.app-footer-partnerList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
